<div class="catalog">
    <div class="container">
        <div class="catalog-wrapper">
            <div class="catalog-box">
                <h2 class="catalog-title title-2">Репродукции</h2>
                <div class="catalog-tabs">
                    <button class="catalog-tabs__tab">Франция</button>
                    <button class="catalog-tabs__tab">Германия</button>
                    <button class="catalog-tabs__tab">Англия</button>
                </div>
            </div>
            <div class="catalog-card">
                <img src="../images/card-1.webp" alt="" class="catalog-card__img">
                <p class="catalog-card__artist">Марсель Руссо</p>
                <h3 class="catalog-card__title title-3">Охота Амура</h3>
                <p class="catalog-card__parameters">Холст, масло (50х80)</p>
                <p class="catalog-card__price">14 500 руб</p>
                <button class="catalog-card__btn btn">В корзину</button>
            </div>
            <div class="catalog-card">
                <img src="../images/card-2.webp" alt="" class="catalog-card__img">
                <p class="catalog-card__artist">Анри Селин</p>
                <h3 class="catalog-card__title title-3">Дама с собачкой</h3>
                <p class="catalog-card__parameters">Акрил, бумага (50х80) </p>
                <p class="catalog-card__price">16 500 руб</p>
                <button class="catalog-card__btn btn">В корзину</button>
            </div>
            <div class="catalog-card">
                <img src="../images/card-3.webp" alt="" class="catalog-card__img">
                <p class="catalog-card__artist">Франсуа Дюпон</p>
                <h3 class="catalog-card__title title-3">Процедура</h3>
                <p class="catalog-card__parameters">Цветная литография (40х60) </p>
                <p class="catalog-card__price">20 000 руб</p>
                <button class="catalog-card__btn btn">В корзину</button>
            </div>
            <div class="catalog-card">
                <img src="../images/card-4.webp" alt="" class="catalog-card__img">
                <p class="catalog-card__artist">Луи Детуш</p>
                <h3 class="catalog-card__title title-3">Роза</h3>
                <p class="catalog-card__parameters">Бумага, акрил (50х80)</p>
                <p class="catalog-card__price">12 000 руб</p>
                <button class="catalog-card__btn btn">В корзину</button>
            </div>
            <div class="catalog-card">
                <img src="../images/card-5.webp" alt="" class="catalog-card__img">
                <p class="catalog-card__artist">Франсуа Дюпон</p>
                <h3 class="catalog-card__title title-3">Птичья трапеза</h3>
                <p class="catalog-card__parameters">Цветная литография (40х60)</p>
                <p class="catalog-card__price">22 500 руб</p>
                <button class="catalog-card__btn btn">В корзину</button>
            </div>
            <div class="catalog-card">
                <img src="../images/card-6.webp" alt="" class="catalog-card__img">
                <p class="catalog-card__artist">Пьер Моранж</p>
                <h3 class="catalog-card__title title-3">Пейзаж с рыбой</h3>
                <p class="catalog-card__parameters">Цветная литография (40х60)</p>
                <p class="catalog-card__price">20 000 руб</p>
                <button class="catalog-card__btn btn">В корзину</button>
            </div>
        </div>
    </div>
</div>