<div class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="logo-wrapper">
            <a class="logo" href="#">
                <svg>
                  <use xlink:href="../images/symbol-defs.svg#icon-logo"></use>
                </svg>
                <p>Ink. House</p>
              </a>
              <div class="phone">
              <p>+7 (999) 543-54-54</p>
              <a href="#">Мастерская</a>
              </div>
            </div>
            <div class="footer-nav">
                <div class="footer-nav__position">
                    <p>Репродукции</p>
                    <a href="#">Франция</a>
                    <a href="#">Германия</a>
                    <a href="#">Англия</a>
                </div>
                <div class="footer-nav__position">
                    <p>Новинки</p>
                    <a href="#">2021</a>
                    <a href="#">2020</a>
                </div>
                <div class="footer-nav__position">
                    <p>О нас</p>
                    <a href="#">Художники</a>
                    <a href="#">Менеджеры</a>
                </div>
            </div>
            <div class="footer-social">
              <div class="footer-social__icons">
                <a href="#">
                    <svg>
                      <use xlink:href="../images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                  </a>
                <a href="#">
                    <svg>
                      <use xlink:href="../images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                  </a>
                <a href="#">
                    <svg>
                      <use xlink:href="../images/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </div>
                  <p>Ink. House ®</p>
                  <p>All rights reserved</p>
            </div>
        </div>
    </div>
</div>