
    <header class="header">
      <div class="container">
        <nav class="header__nav">
            <a class="header__logo logo" href="#">
              <svg>
                <use xlink:href="../images/symbol-defs.svg#icon-logo"></use>
              </svg>
              <p>Ink. House</p>
            </a>
          <ul class="nav__items">
            <li class="nav__item">
              <a href="#" class="nav__link">Репродукции</a>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Новинки</a></li>
            <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">
                <svg class="icon-cart">
                  <use xlink:href="../images/symbol-defs.svg#icon-cart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
