<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="header__nav">
          <div>
            <a class="header__logo" href="#">
              <svg>
                <use xlink:href="../images/symbol-defs.svg#icon-logo"></use>
              </svg>
              <p>Ink. House</p>
            </a>
          </div>
          <ul class="nav__items">
            <li class="nav__item">
              <a href="#" class="nav__link">Репродукции</a>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Новинки</a></li>
            <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">
                <svg class="icon-cart">
                  <use xlink:href="../images/symbol-defs.svg#icon-cart"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
