<div class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <img src="../images/bird.webp" alt="bird" />
      <div class="hero-box">
        <h1 class="hero-box__title title-1">Реплики картин от <span>Ink. House</span></h1>
        <p class="hero-box__text">
          Высокое качество отрисовки на плотной бумаге или льняном холсте.
          Редкие произведения, доступные цены.
        </p>
        <button class="hero-box__btn btn">Продукция</button>
      </div>
    </div>
  </div>
</div>
