<div class="promo">
    <div class="container">
        <div class="promo-wrapper">
        <div class="promo__logo" href="#">
            <svg>
              <use xlink:href="../images/symbol-defs.svg#icon-logo"></use>
            </svg>
            <h2 class="promo__title title-2">Новая коллекция французских авторов</h2>
        </div>
            <p class="promo__text">Сложно сказать, почему акционеры крупнейших компаний призывают нас к новым свершениям, которые, в свою очередь, должны быть заблокированы в рамках своих собственных рациональных ограничений. <br> <br> 
                Принимая во внимание показатели успешности, граница обучения кадров предопределяет высокую востребованность направлений прогрессивного развития.</p>
            <button class="promo__btn btn">Ознакомиться</button>
        </div>
    </div>
</div>