<div class="team">
    <div class="container">
        <div class="team-wrapper">
            <div class="team-wrapper__left-box">
                <img src="../images/brushes.webp" alt="" class="brushes">
            </div>
            <div class="team-wrapper__right-box">
                <h2 class="team-title title-2">Наша команда</h2>
                <p class="team-text">Значимость этих проблем настолько очевидна, что базовый вектор развития позволяет оценить значение экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что консультация с широким активом.</p>
                <div class="team-wrapper-photo">
                    <img src="../images/photo-1.webp" alt="" >
                    <img src="../images/photo-2.webp" alt="" >
                    <img src="../images/photo-3.webp" alt="" >
                </div>
            </div>
        </div>
    </div>
</div>