.footer
    background-color: #E1EDE6
    height: 16.8rem

.footer-wrapper
    padding: 2.3rem 0
    display: grid
    grid-template-columns: 17rem 44.5rem auto
    justify-content: space-between 

.logo-wrapper
    a
        margin-bottom: 3.5rem

.phone
    a
        color: #86928B

.footer-nav
    display: flex
    &__position
        display: flex
        flex-direction: column
        margin-right: 6rem
        &:last-child
            margin-right: 0
    p
        font-size: 2rem
        margin-bottom: .6rem
    a
        color: #86928B
        line-height: 2.7rem

.footer-social
    &__icons
        display: inline
        margin-bottom: 1rem
        a 
            margin-right: 3rem
            &:last-child
                margin-right: 0
            svg
                width: 2.4rem
                height: 2.4rem
                
    p
        font-size: 1.2rem
        line-height: 120%
        color: #86928B
        margin-bottom: 0.6rem
        &:last-child
            margin-bottom: 0