.promo
    background: url(../images/promo-bg.webp) no-repeat center / cover, lightgray -19px -343.452px / 102.639% 329.486% no-repeat 
    height: 57.4rem
    width: 100%
    margin-bottom: 7rem
    &__logo
        display: flex
        align-items: center
        margin-bottom: 2rem
        svg
            width: 12rem
            height: 12rem
            stroke: $color-yellow
            stroke-width: 1.5px
            fill: transparent
            margin-right: 2rem
    &__title
        color: $color-white
        line-height: 4rem
        font-weight: 400
    &__text
        color: $color-white
        line-height: 2.7rem
        font-weight: 400
        margin-bottom: 6rem
    &__btn
        color: $color-main
        background-color: $color-yellow
        &:hover
            color: $color-main
            background-color: #FAEB97

.promo-wrapper
    position: relative
    z-index: 10
    max-width: 54rem
    padding: 7rem 0